<div class="hour_weather_box">
  <h2><%= @hour_weathers.first.time.strftime("%m月%d日") %>の１時間ごとの天気</h2>
  <table class="hour_table">
    <tr class="hour_sub">
      <th>時間</th>
      <th>天気</th>
      <th>服装</th>
      <th>気温</th>
      <th>降水確率</th>
    </tr>
    <% (0..23).each do |i| %>
      <tr class="hour_td">
        <td><%= @hour_weathers[i].time.strftime("%H時") %></td>
        <td><%= image_tag "#{@hour_weathers[i].weather_code}.png", class:"weekly_main_image"%></td>
        <td><%= image_tag "#{@hour_weathers[i].wear_symbol}.png", class:"weekly_main_image"%></td>
        <td><%=  @hour_weathers[i].temperature %>℃</td>
        <td><%=  @hour_weathers[i].precipitation_probability %>%</td>               
      </tr>
    <%end%>
  </table>
  <div class="scrollbar-container">
    <div class="scrollbar" id="scrollbar"></div>
  </div>
</div>
