<div class="weather_comparison_box">
  <div class="weather_comparison_bar">
    <h2 class="weather_comparison_title">過去の天気と比較</h2>
    <div class="setting_box">
      <%= form_with method: :get, data: { turbo: false }, id: "weather-comparison-form" do |f| %>
        <% if @municipalities_name.is_a?(Array) %>
          <%= f.select :municipalitie_name, options_for_select(@municipalities_name) %>
          <p class="setting_box_text">の</p>
        <% else %>
        <% end %>
        <%= f.select :main_day, options_for_select(@main_days) %>
        <p class="setting_box_text">と</p>
        <%= f.select :sub_day, options_for_select(@sub_days) %>
        <p class="setting_box_text">の天気を</p>
        <%= f.submit "比較する", class:"comparison_button"%>
      <% end %>
    </div>
  </div>
  <div class="weather_comparison_block">
    <div class="comparison_main_box">
      <p><%= @city %><%= @main_day %></p>
      <div class="main_area">
        <div class="main_image_box">
          <%= image_tag "#{@main_wether_data.weather_code}.png", class:"comparison_main_image"%>
          <%= image_tag "#{@main_wether_data.wear_symbol}.png", class:"comparison_main_image"%>
        </div>
        <table class="main_data_table">
          <tr class="high">
            <td>最高気温</td><td><%= @main_wether_data.temperature_max %>℃</td>
          </tr>
          <tr class="row">
            <td>最低気温</td><td><%= @main_wether_data.temperature_min %>℃</td>
          </tr>
          <tr>
            <td>降水確率</td><td><%= @main_wether_data.precipitation_probability %>%</td>
          </tr>
        </table>
      </div>
      <div class="main_yosooimemo_area">
        <p>こんな装いメモがありました</p>
        <p>ユーザー　今日はこんな服装にしようかな〜</p>
      </div>
    </div>
    <div class="comparison_sub_box">
      <p><%= @city %><%= @sub_day %></p>
      <div class="sub_area">
        <div class="sub_image_box">
          <%= image_tag "#{@sub_wether_data.weather_code}.png", class:"comparison_main_image"%>
          <%= image_tag "#{@sub_wether_data.wear_symbol}.png", class:"comparison_main_image"%>
        </div>
       <table class="sub_data_table">
          <tr class="high">
            <td>最高気温</td><td><%= @sub_wether_data.temperature_max %>℃</td>
          </tr>
          <tr class="row">
            <td>最低気温</td><td><%= @sub_wether_data.temperature_min %>℃</td>
          </tr>
          <tr>
            <td>降水確率</td><td><%= @sub_wether_data.precipitation_probability %>%</td>
          </tr>
        </table>
      </div>
      <div class="sub_yosooimemo_area">
        <p>こんな装いメモがありました</p>
        <p>ユーザー　今日はこんな服装にしようかな〜</p>
      </div>
    </div>
  </div>
</div>
