<div class="tab">
  <ul class="tab_menu">
    <li class="tab_menu-item is-active" data-tab="1">24日</li>
    <li class="tab_menu-item" data-tab="2">25日</li>
    <li class="tab_menu-item" data-tab="3">26日</li>
    <li class="tab_menu-item" data-tab="4">27日</li>
    <li class="tab_menu-item" data-tab="5">28日</li>
    <li class="tab_menu-item" data-tab="6">29日</li>
    <li class="tab_menu-item" data-tab="7">30日</li>
  </ul>
  <div class="tab_panel">
    <div class="tab_panel-box tab_panel-box001 is-show" data-panel="1">
      <%= image_tag 'topview_rain.jpg', class: 'top_image' %>
      <%= image_tag 'tokyo.png', class: 'tokyo_image' %>
      <ul class="city_list">
        <li class="city_list_item okutama">
          <p>奥多摩町</p>
          <%= image_tag 'sun.png', class: 'symbol_image' %>
          <p class="temperature">
            <span class="high">24.5°</span>/
            <span class="row">23.1°</span>
          </p>
          <p class="rainy_percent">30%</p>
        </li>
        <li class="city_list_item oume">
          <p>青梅市</p>
          <%= image_tag 'sun.png', class: 'symbol_image' %>
          <p class="temperature">
            <span class="high">24.5°</span>/
            <span class="row">23.1°</span>
          </p>
          <p class="rainy_percent">30%</p>
        </li>
        <li class="city_list_item tachikawa">
          <p>立川市</p>
          <%= image_tag 'sun.png', class: 'symbol_image' %>
          <p class="temperature">
            <span class="high">24.5°</span>/
            <span class="row">23.1°</span>
          </p>
          <p class="rainy_percent">30%</p>
        </li>
        <li class="city_list_item nerima">
          <p>練馬区</p>
          <%= image_tag 'sun.png', class: 'symbol_image' %>
          <p class="temperature">
            <span class="high">24.5°</span>/
            <span class="row">23.1°</span>
          </p>
          <p class="rainy_percent">30%</p>
        </li>
        <li class="city_list_item shinjuku">
          <p>新宿区</p>
          <%= image_tag 'sun.png', class: 'symbol_image' %>
          <p class="temperature">
            <span class="high">24.5°</span>/
            <span class="row">23.1°</span>
          </p>
          <p class="rainy_percent">30%</p>          
        </li>
        <li class="city_list_item chiyoda">
          <p>千代田区</p>
          <%= image_tag 'sun.png', class: 'symbol_image' %>
          <p class="temperature">
            <span class="high">24.5°</span>/
            <span class="row">23.1°</span>
          </p>
          <p class="rainy_percent">30%</p>          
        </li>
        <li class="city_list_item shinagawa">
          <p>品川区</p>
          <%= image_tag 'sun.png', class: 'symbol_image' %>
          <p class="temperature">
            <span class="high">24.5°</span>/
            <span class="row">23.1°</span>
          </p>
          <p class="rainy_percent">30%</p>          
        </li>
        <li class="city_list_item setagaya">
          <p>世田谷区</p>
          <%= image_tag 'sun.png', class: 'symbol_image' %>
          <p class="temperature">
            <span class="high">24.5°</span>/
            <span class="row">23.1°</span>
          </p>
          <p class="rainy_percent">30%</p>          
        </li>
        <li class="city_list_item hachioji">
          <p>八王子市</p>
          <%= image_tag 'sun.png', class: 'symbol_image' %>
          <p class="temperature">
            <span class="high">24.5°</span>/
            <span class="row">23.1°</span>
          </p>
          <p class="rainy_percent">30%</p>          
          </li>
        <li class="city_list_item hinohara">
          <p>檜原村</p>
          <%= image_tag 'sun.png', class: 'symbol_image' %>
          <p class="temperature">
            <span class="high">24.5°</span>/
            <span class="row">23.1°</span>
          </p>
          <p class="rainy_percent">30%</p>        
          </li>
        </li>
      </ul>
    </div>
    <div class="tab_panel-box tab_panel-box002" data-panel="2">
      <p class="tab_panel-text">2枚目のタブです。2枚目のタブです。2枚目のタブです。2枚目のタブです。2枚目のタブです。2枚目のタブです。2枚目のタブです。2枚目のタブです。2枚目のタブです。2枚目のタブです。</p>
    </div>
    <div class="tab_panel-box tab_panel-box003" data-panel="3">
      <p class="tab_panel-text">3枚目のタブです。3枚目のタブです。3枚目のタブです。3枚目のタブです。3枚目のタブです。3枚目のタブです。3枚目のタブです。3枚目のタブです。3枚目のタブです。3枚目のタブです。</p>
    </div>
    <div class="tab_panel-box tab_panel-box004" data-panel="4">
      <p class="tab_panel-text">2枚目のタブです。2枚目のタブです。2枚目のタブです。2枚目のタブです。2枚目のタブです。2枚目のタブです。2枚目のタブです。2枚目のタブです。2枚目のタブです。2枚目のタブです。</p>
    </div>
    <div class="tab_panel-box tab_panel-box005" data-panel="5">
      <p class="tab_panel-text">3枚目のタブです。3枚目のタブです。3枚目のタブです。3枚目のタブです。3枚目のタブです。3枚目のタブです。3枚目のタブです。3枚目のタブです。3枚目のタブです。3枚目のタブです。</p>
    </div>
        <div class="tab_panel-box tab_panel-box006" data-panel="6">
      <p class="tab_panel-text">2枚目のタブです。2枚目のタブです。2枚目のタブです。2枚目のタブです。2枚目のタブです。2枚目のタブです。2枚目のタブです。2枚目のタブです。2枚目のタブです。2枚目のタブです。</p>
    </div>
    <div class="tab_panel-box tab_panel-box007" data-panel="7">
      <p class="tab_panel-text">3枚目のタブです。3枚目のタブです。3枚目のタブです。3枚目のタブです。3枚目のタブです。3枚目のタブです。3枚目のタブです。3枚目のタブです。3枚目のタブです。3枚目のタブです。</p>
    </div>
  </div>
</div>
