<div class="tab">
  <ul class="tab_menu">
    <li class="tab_menu-item is-active" data-tab="1"><%= Time.zone.today.strftime("%d日")%><%= @week[Date.today.wday] %></li>
    <li class="tab_menu-item" data-tab="2"><%= (Time.zone.today + 1.day).strftime("%d日")%><%= @week[(Date.today+ 1.day).wday] %></li>
    <li class="tab_menu-item" data-tab="3"><%= (Time.zone.today + 2.day).strftime("%d日")%><%= @week[(Date.today+ 2.day).wday] %></li>
    <li class="tab_menu-item" data-tab="4"><%= (Time.zone.today + 3.day).strftime("%d日")%><%= @week[(Date.today+ 3.day).wday] %></li>
    <li class="tab_menu-item" data-tab="5"><%= (Time.zone.today + 4.day).strftime("%d日")%><%= @week[(Date.today+ 4.day).wday] %></li>
    <li class="tab_menu-item" data-tab="6"><%= (Time.zone.today + 5.day).strftime("%d日")%><%= @week[(Date.today+ 5.day).wday] %></li>
    <li class="tab_menu-item" data-tab="7"><%= (Time.zone.today + 6.day).strftime("%d日")%><%= @week[(Date.today+ 6.day).wday] %></li>
  </ul>
  <div class="tab_panel">
    <% (0..6).each do |i| %>
      <div class="tab_panel-box  weathermap_panel_design tab_panel-box00<%= i+1 %> <%= 'is-show' if i.zero? %>" data-panel="<%= i+1 %>">
        <%= image_tag 'tokyo.png', class: 'tokyo_image' %>
        <ul class="city_list">
          <li class="city_list_item okutama">
            <%= link_to weather_path(@okutama_weathers[i].municipalities_id), data: { turbo: false } do %>
              <p>奥多摩町</p>
              <%= image_tag "#{ @okutama_weathers[i].weather_code}.png", class: 'symbol_image' %>
              <%= image_tag "#{ @okutama_weathers[i].wear_symbol}.png", class: 'symbol_image' %>
              <p class="temperature">
                <span class="high"><%= @okutama_weathers[i].temperature_max %>℃</span>/
                <span class="row"><%= @okutama_weathers[i].temperature_min %>℃</span>
              </p>
              <p class="rainy_percent"><%= @okutama_weathers[i].precipitation_probability %>%</p>
            <% end %>
            </a>
          </li>
          <li class="city_list_item oume">
            <%= link_to weather_path(@oume_weathers[i].municipalities_id), data: { turbo: false } do %>            
              <p>青梅市</p>
              <%= image_tag "#{ @oume_weathers[i].weather_code}.png", class: 'symbol_image' %>
              <%= image_tag "#{ @oume_weathers[i].wear_symbol}.png", class: 'symbol_image' %>
              <p class="temperature">
                <span class="high"><%= @oume_weathers[i].temperature_max %>℃</span>/
                <span class="row"><%= @oume_weathers[i].temperature_min %>℃</span>
              </p>
              <p class="rainy_percent"><%= @oume_weathers[i].precipitation_probability %>%</p>
            <% end %>
          </li>
          <li class="city_list_item tachikawa">
            <%= link_to weather_path(@tachikawa_weathers[i].municipalities_id), data: { turbo: false } do %>             
              <p>立川市</p>
              <%= image_tag "#{ @tachikawa_weathers[i].weather_code}.png", class: 'symbol_image' %>
              <%= image_tag "#{ @tachikawa_weathers[i].wear_symbol}.png", class: 'symbol_image' %>
              <p class="temperature">
                <span class="high"><%= @tachikawa_weathers[i].temperature_max %>℃</span>/
                <span class="row"><%= @tachikawa_weathers[i].temperature_min %>℃</span>
              </p>
              <p class="rainy_percent"><%= @tachikawa_weathers[i].precipitation_probability %>%</p>
            <% end %>              
          </li>
          <li class="city_list_item nerima">
            <%= link_to weather_path(@nerima_weathers[i].municipalities_id), data: { turbo: false } do %>              
              <p>練馬区</p>
              <%= image_tag "#{ @nerima_weathers[i].weather_code}.png", class: 'symbol_image' %>
              <%= image_tag "#{ @nerima_weathers[i].wear_symbol}.png", class: 'symbol_image' %>
              <p class="temperature">
                <span class="high"><%= @nerima_weathers[i].temperature_max %>℃</span>/
                <span class="row"><%= @nerima_weathers[i].temperature_min %>℃</span>
              </p>
              <p class="rainy_percent"><%= @nerima_weathers[i].precipitation_probability %>%</p>
            <% end %>               
          </li>
          <li class="city_list_item shinjuku">
            <%= link_to weather_path(@shinjuku_weathers[i].municipalities_id), data: { turbo: false } do %>             
              <p>新宿区</p>
              <%= image_tag "#{ @shinjuku_weathers[i].weather_code}.png", class: 'symbol_image' %>
              <%= image_tag "#{ @shinjuku_weathers[i].wear_symbol}.png", class: 'symbol_image' %>
              <p class="temperature">
                <span class="high"><%= @shinjuku_weathers[i].temperature_max %>℃</span>/
                <span class="row"><%= @shinjuku_weathers[i].temperature_min %>℃</span>
              </p>
              <p class="rainy_percent"><%= @shinjuku_weathers[i].precipitation_probability %>%</p>      
            <% end %>                
          </li>
          <li class="city_list_item chiyoda">
            <%= link_to weather_path(@chiyoda_weathers[i].municipalities_id), data: { turbo: false } do %>              
              <p>千代田区</p>
              <%= image_tag "#{ @chiyoda_weathers[i].weather_code}.png", class: 'symbol_image' %>
              <%= image_tag "#{ @chiyoda_weathers[i].wear_symbol}.png", class: 'symbol_image' %>
              <p class="temperature">
                <span class="high"><%= @chiyoda_weathers[i].temperature_max %>℃</span>/
                <span class="row"><%= @chiyoda_weathers[i].temperature_min %>℃</span>
              </p>
              <p class="rainy_percent"><%= @chiyoda_weathers[i].precipitation_probability %>%</p>   
            <% end %>       
          </li>
          <li class="city_list_item shinagawa">
              <%= link_to weather_path(@shinagawa_weathers[i].municipalities_id), data: { turbo: false } do %>           
              <p>品川区</p>
              <%= image_tag "#{ @shinagawa_weathers[i].weather_code}.png", class: 'symbol_image' %>
              <%= image_tag "#{ @shinagawa_weathers[i].wear_symbol}.png", class: 'symbol_image' %>
              <p class="temperature">
                <span class="high"><%= @shinagawa_weathers[i].temperature_max %>℃</span>/
                <span class="row"><%= @shinagawa_weathers[i].temperature_min %>℃</span>
              </p>
              <p class="rainy_percent"><%= @shinagawa_weathers[i].precipitation_probability %>%</p>  
            <% end %>                          
          </li>
          <li class="city_list_item setagaya">
              <%= link_to weather_path(@setagaya_weathers[i].municipalities_id), data: { turbo: false } do %>                       
              <p>世田谷区</p>
              <%= image_tag "#{ @setagaya_weathers[i].weather_code}.png", class: 'symbol_image' %>
              <%= image_tag "#{ @setagaya_weathers[i].wear_symbol}.png", class: 'symbol_image' %>
              <p class="temperature">
                <span class="high"><%= @setagaya_weathers[i].temperature_max %>℃</span>/
                <span class="row"><%= @setagaya_weathers[i].temperature_min %>℃</span>
              </p>
              <p class="rainy_percent"><%= @setagaya_weathers[i].precipitation_probability %>%</p>  
            <% end %>                        
          </li>
          <li class="city_list_item hachioji">
            <%= link_to weather_path(@hachioji_weathers[i].municipalities_id), data: { turbo: false } do %>             
              <p>八王子市</p>
              <%= image_tag "#{ @hachioji_weathers[i].weather_code}.png", class: 'symbol_image' %>
              <%= image_tag "#{ @hachioji_weathers[i].wear_symbol}.png", class: 'symbol_image' %>
              <p class="temperature">
                <span class="high"><%= @hachioji_weathers[i].temperature_max %>℃</span>/
                <span class="row"><%= @hachioji_weathers[i].temperature_min %>℃</span>
              </p>
              <p class="rainy_percent"><%= @hachioji_weathers[i].precipitation_probability %>%</p>  
            <% end %>                              
            </li>
          <li class="city_list_item hinohara">
            <%= link_to weather_path(@hinohara_weathers[i].municipalities_id), data: { turbo: false } do %>               
              <p>檜原村</p>
              <%= image_tag "#{ @hinohara_weathers[i].weather_code}.png", class: 'symbol_image' %>
              <%= image_tag "#{ @hinohara_weathers[i].wear_symbol}.png", class: 'symbol_image' %>
              <p class="temperature">
                <span class="high"><%= @hinohara_weathers[i].temperature_max %>℃</span>/
                <span class="row"><%= @hinohara_weathers[i].temperature_min %>℃</span>
              </p>
              <p class="rainy_percent"><%= @hinohara_weathers[i].precipitation_probability %>%</p>    
            <% end %>                     
            </li>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
