<div class="tab">
  <ul class="tab_menu">
    <li class="tab_menu-item is-active" data-tab="1">24日</li>
    <li class="tab_menu-item" data-tab="2">25日</li>
    <li class="tab_menu-item" data-tab="3">26日</li>
    <li class="tab_menu-item" data-tab="4">27日</li>
    <li class="tab_menu-item" data-tab="5">28日</li>
    <li class="tab_menu-item" data-tab="6">29日</li>
    <li class="tab_menu-item" data-tab="7">30日</li>
  </ul>
  <div class="tab_panel">
    <% (0..6).each do |i| %>
      <% temperature_maxs = @temperature_maxs[i] %>
      <% temperature_mins = @temperature_mins[i] %>
      <% weather_codes = @weather_codes[i] %>
      <% wear_symbol = @wear_symbols[i] %>
      <% precipitation_probability_maxs = @precipitation_probability_maxs[i] %>
      <div class="tab_panel-box tab_panel-box00<%= i+1 %> <%= 'is-show' if i.zero? %>" data-panel="<%= i+1 %>">
        <%= image_tag 'tokyo.png', class: 'tokyo_image' %>
        <ul class="city_list">
          <li class="city_list_item okutama">
            <p>奥多摩町</p>
            <%= image_tag "#{ weather_codes.find { |data| data[:key] == "奥多摩町" }[:value] }.png", class: 'symbol_image' %>
            <%= image_tag "#{ wear_symbol.find { |data| data[:key] == "奥多摩町" }[:value] }.png", class: 'symbol_image' %>
            <% puts wear_symbol.find { |data| data[:key] == "奥多摩町" }[:value] %>
            <p class="temperature">
              <span class="high"><%= temperature_maxs.find { |data| data[:key] == "奥多摩町" }[:value] %>°</span>/
              <span class="row"><%= temperature_mins.find { |data| data[:key] == "奥多摩町" }[:value] %>°</span>
            </p>
            <p class="rainy_percent"><%= precipitation_probability_maxs.find { |data| data[:key] == "奥多摩町" }[:value] %>%</p>
          </li>
          <li class="city_list_item oume">
            <p>青梅市</p>
            <%= image_tag "#{ weather_codes.find { |data| data[:key] == "青梅市" }[:value] }.png", class: 'symbol_image' %>
            <%= image_tag "#{ wear_symbol.find { |data| data[:key] == "青梅市" }[:value] }.png", class: 'symbol_image' %>            
            <p class="temperature">
              <span class="high"><%= temperature_maxs.find { |data| data[:key] == "青梅市" }[:value] %>°</span>/
              <span class="row"><%= temperature_mins.find { |data| data[:key] == "青梅市" }[:value] %>°</span>
            </p>
            <p class="rainy_percent"><%= precipitation_probability_maxs.find { |data| data[:key] == "青梅市" }[:value] %>%</p>
          </li>
          <li class="city_list_item tachikawa">
            <p>立川市</p>
            <%= image_tag "#{ weather_codes.find { |data| data[:key] == "立川市" }[:value] }.png", class: 'symbol_image' %>
            <%= image_tag "#{ wear_symbol.find { |data| data[:key] == "立川市" }[:value] }.png", class: 'symbol_image' %>            
            <p class="temperature">
              <span class="high"><%= temperature_maxs.find { |data| data[:key] == "立川市" }[:value] %>°</span>/
              <span class="row"><%= temperature_mins.find { |data| data[:key] == "立川市" }[:value] %>°</span>
            </p>
            <p class="rainy_percent"><%= precipitation_probability_maxs.find { |data| data[:key] == "立川市" }[:value] %>%</p>
          </li>
          <li class="city_list_item nerima">
            <p>練馬区</p>
            <%= image_tag "#{ weather_codes.find { |data| data[:key] == "練馬区" }[:value] }.png", class: 'symbol_image' %>
            <%= image_tag "#{ wear_symbol.find { |data| data[:key] == "練馬区" }[:value] }.png", class: 'symbol_image' %>            
            <p class="temperature">
              <span class="high"><%= temperature_maxs.find { |data| data[:key] == "練馬区" }[:value] %>°</span>/
              <span class="row"><%= temperature_mins.find { |data| data[:key] == "練馬区" }[:value] %>°</span>
            </p>
            <p class="rainy_percent"><%= precipitation_probability_maxs.find { |data| data[:key] == "練馬区" }[:value] %>%</p>
          </li>
          <li class="city_list_item shinjuku">
            <p>新宿区</p>
            <%= image_tag "#{ weather_codes.find { |data| data[:key] == "新宿区" }[:value] }.png", class: 'symbol_image' %>
            <%= image_tag "#{ wear_symbol.find { |data| data[:key] == "新宿区" }[:value] }.png", class: 'symbol_image' %>            
            <p class="temperature">
              <span class="high"><%= temperature_maxs.find { |data| data[:key] == "新宿区" }[:value] %>°</span>/ 
              <span class="row"><%= temperature_mins.find { |data| data[:key] == "新宿区" }[:value] %>°</span> 
            </p>
            <p class="rainy_percent"><%= precipitation_probability_maxs.find { |data| data[:key] == "新宿区" }[:value] %>%</p>          
          </li>
          <li class="city_list_item chiyoda">
            <p>千代田区</p>
            <%= image_tag "#{ weather_codes.find { |data| data[:key] == "千代田区" }[:value] }.png", class: 'symbol_image' %>
            <%= image_tag "#{ wear_symbol.find { |data| data[:key] == "千代田区" }[:value] }.png", class: 'symbol_image' %>            
            <p class="temperature">
              <span class="high"><%= temperature_maxs.find { |data| data[:key] == "千代田区" }[:value] %>°</span>/
              <span class="row"><%= temperature_mins.find { |data| data[:key] == "千代田区" }[:value] %>°</span>
            </p>
            <p class="rainy_percent"><%= precipitation_probability_maxs.find { |data| data[:key] == "千代田区" }[:value] %>%</p>          
          </li>
          <li class="city_list_item shinagawa">
            <p>品川区</p>
            <%= image_tag "#{ weather_codes.find { |data| data[:key] == "品川区" }[:value] }.png", class: 'symbol_image' %>
            <%= image_tag "#{ wear_symbol.find { |data| data[:key] == "品川区" }[:value] }.png", class: 'symbol_image' %>            
            <p class="temperature">
              <span class="high"><%= temperature_maxs.find { |data| data[:key] == "品川区" }[:value] %>°</span>/
              <span class="row"><%= temperature_mins.find { |data| data[:key] == "品川区" }[:value] %>°</span>
            </p>
            <p class="rainy_percent"><%= precipitation_probability_maxs.find { |data| data[:key] == "品川区" }[:value] %>%</p>          
          </li>
          <li class="city_list_item setagaya">
            <p>世田谷区</p>
            <%= image_tag "#{ weather_codes.find { |data| data[:key] == "世田谷区" }[:value] }.png", class: 'symbol_image' %>
            <%= image_tag "#{ wear_symbol.find { |data| data[:key] == "世田谷区" }[:value] }.png", class: 'symbol_image' %>            
            <p class="temperature">
              <span class="high"><%= temperature_maxs.find { |data| data[:key] == "世田谷区" }[:value] %>°</span>/
              <span class="row"><%= temperature_mins.find { |data| data[:key] == "世田谷区" }[:value] %>°</span>
            </p>
            <p class="rainy_percent"><%= precipitation_probability_maxs.find { |data| data[:key] == "世田谷区" }[:value] %>%</p>          
          </li>
          <li class="city_list_item hachioji">
            <p>八王子市</p>
            <%= image_tag "#{ weather_codes.find { |data| data[:key] == "八王子市" }[:value] }.png", class: 'symbol_image' %>
            <%= image_tag "#{ wear_symbol.find { |data| data[:key] == "八王子市" }[:value] }.png", class: 'symbol_image' %>            
            <p class="temperature">
              <span class="high"><%= temperature_maxs.find { |data| data[:key] == "八王子市" }[:value] %>°</span>/
              <span class="row"><%= temperature_mins.find { |data| data[:key] == "八王子市" }[:value] %>°</span>
            </p>
            <p class="rainy_percent"><%= precipitation_probability_maxs.find { |data| data[:key] == "八王子市" }[:value] %>%</p>          
            </li>
          <li class="city_list_item hinohara">
            <p>檜原村</p>
            <%= image_tag "#{ weather_codes.find { |data| data[:key] == "檜原村" }[:value] }.png", class: 'symbol_image' %>
            <%= image_tag "#{ wear_symbol.find { |data| data[:key] == "檜原村" }[:value] }.png", class: 'symbol_image' %>            
            <p class="temperature">
              <span class="high"><%= temperature_maxs.find { |data| data[:key] == "檜原村" }[:value] %>°</span>/
              <span class="row"><%= temperature_mins.find { |data| data[:key] == "檜原村" }[:value] %>°</span>
            </p>
            <p class="rainy_percent"><%= precipitation_probability_maxs.find { |data| data[:key] == "檜原村" }[:value] %>%</p>        
            </li>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
